<div class="modal fade" id="demo-default-modal" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <!--Modal header-->
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button"  ng-click="close(false)">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Categorie toevoegen</h4>
            </div>

            <!--Modal body-->
            <div class="modal-body">
                <h4 class="text-thin">Bootstrap Modal Vertical Alignment Center</h4>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
                <hr>
                <h4 class="text-thin">Popover in a modal</h4>
                <p>This
                    <button class="btn btn-sm btn-warning demo-modal-popover add-popover" data-toggle="popover" data-trigger="focus" data-content="And here\'s some amazing content. It\'s very engaging. right?" data-original-title="Popover Title">button</button>
                    should trigger a popover on click.
                </p>
                <hr>
                <h4 class="text-thin">Tooltips in a modal</h4>
                <p>
                    <a class="btn-link add-tooltip" href="#" data-original-title="Tooltip">This link</a> and
                    <a class="btn-link add-tooltip" href="#" data-original-title="Tooltip">that link</a> should have tooltips on hover.
                </p>
            </div>

            <!--Modal footer-->
            <div class="modal-footer">
                <button type="button" ng-click="close(false)" class="btn btn-default" data-dismiss="modal">No</button>
                <button type="button" ng-click="close(true)" class="btn btn-primary" data-dismiss="modal">Yes</button>
            </div>
        </div>
    </div>
</div>